body {
  background-color: rgb(7, 41, 59);
}

h1 {
  color: rgb(255, 174, 60);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 25px;
  color: rgb(255, 174, 60);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    color: rgb(79, 42, 0);
    background: rgb(134, 223, 255);
}

table, th, td {
  border: 4px solid green;
  background: rgb(134, 223, 255);
  color: rgb(80, 9, 57);
  font-size: 25px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(17, 61, 89);
  padding: 10px;
}
.container div {
  background-color: rgb(12, 35, 50);
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}