<!DOCTYPE html>
<html>
<head>
  <!-- python -m http.server 8000 -->
  <link rel="stylesheet" href="../static/styles.css">
  <script src="../static/home.js"></script>
</head>
<body>

<h1>Transcript Translation</h1>


<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/translation">Translation</a></li>
  <li><a href="/about">About</a></li>
</ul>

<p>My first personal project :)</p>
<p>Decided to start creating different types of projects
     to allow myself to become more accustomed and experienced
      in web development, machine learning, data science,
    and many other sectors within computer science</p>

<footer>
  <label>A project made by Samrawi Mehreteab</label>
</footer>
</body>

</html>