<!DOCTYPE html>
<html>
<head>
  <!-- python -m http.server 8000 -->
  <link rel="stylesheet" href="../static/styles.css">
  <script src="../static/home.js"></script>
</head>
<body>

<h1>Transcript Translation</h1>
<p>(except it's actually useful)</p>

<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="/translation">Translation</a></li>
  <li><a href="/about">About</a></li>
</ul>

<!-- <div class="container">
  <div>
  </div>
</div> -->
<img src="static/Welcome.jpg" alt="Welcome in many languages" width="640" height="360">

<button onclick="window.location.href='/translation'">Translate</button>


<footer>
  <label>A project made by Samrawi Mehreteab</label>
</footer>
</body>

</html>
