body {
  background-color: rgb(7, 41, 59);
}

h1 {
  color: rgb(255, 174, 60);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 25px;
  color: rgb(255, 174, 60);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    color: rgb(79, 42, 0);
    background: rgb(134, 223, 255)
}